@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root {
    --red: #B46060;
    --black: #4D4D4D;
    --white:  #FFF4E0;

}


.hide {
    display: none;
}

textarea {
    resize: none;
}